<template>
  <div>
    <section class="about">
      <div class="contain">
        <div class="text-wrap">
          <h2 class="title">
            {MOPCON 的核心價值}
          </h2>
          <p>
            MOPCON (Mobile Open Platform Conference) 行動科技年會，是<span>南台灣最大型的千人科技研討會</span>，曾獲 iThome 列為 2015 年<span>台灣三大開源年會之一</span>。MOPCON 聚集了千名會眾、百位志工、50名以上講師、20家以上企業、10組以上社群團體。
            <br><br>
            延續去年 <span>Here we ${con}</span> 的精神，今年我們依舊在這裡，無論您是有志一同還是想說想做，${con} With Us！來跟我們一起，交流分享、教學相長、<span>享受開放文化，締造人、知識、產業快速流動，連結產業與資訊工程技術，加深人們聯繫持續茁壯，提升產業與個人的價值，推動南部產業創新發展</span>。2020 時局詭譎多變，更將提升參與過程安全， 建構正向網絡循環，以行動諦造生機。
          </p>
        </div>
        <div class="logo logo-idea" />
      </div>
    </section>
    <section class="gain contain">
      <h2 class="title">
        {來當講者吧！<span>MOPCON 的演講效益}</span>
      </h2>
      <div class="gain-contain">
        <div class="gain-box">
          <div class="logo logo-talk" />
          <p>每廳最少 400 位聽眾、線上 9000 人次、線下 1000 人次接軌，是<b>推廣個人、理念、品牌或者產品的絕佳平台</b>，Come with us。</p>
        </div>
        <div class="gain-box">
          <div class="logo logo-partner" />
          <p><b>10 種以上豐富的專題演講</b>，人脈快速擴增廣見聞，同質之間志同道合深入寶庫，異質之間碰撞創意翻轉思維，能<b>交流知識更能創造知識</b>，<br>Conversation with us。</p>
        </div>
        <div class="gain-box">
          <div class="logo logo-recruitment" />
          <p>透過交流直接<b>接觸社群負責人、開發者、新創團隊，或者尋找人才</b>：開發者、設計師、研究員、PM、學子等，甚至找到潛在客戶，Combine with us。</p>
        </div>
      </div>
    </section>
    <section class="topic">
      <div class="contain">
        <div class="text-wrap">
          <h2 class="title">
            {稿件徵求&#38;主題}
          </h2>
          <p>今年我們歡迎行動應用議題相關的講者，包含但不限於以下三大新趨勢，並延伸到周邊相關議題：</p>
        </div>
        <ul class="logo-lg-wrap">
          <li class="logo-box">
            <div class="logo logo-work" />
            <h3>遠距職場</h3>
          </li>
          <li class="logo-box">
            <div class="logo logo-gear" />
            <h3>數位轉型</h3>
          </li>
          <li class="logo-box">
            <div class="logo logo-people-link" />
            <h3>社會參與 / Training /<br>Open Data</h3>
          </li>
        </ul>
        <hr>
        <ul class="logo-sm-wrap">
          <li class="logo-box">
            <div class="logo logo-ai" />
            <h3>AI / Data Analysis</h3>
          </li>
          <li class="logo-box">
            <div class="logo logo-web" />
            <h3>Web</h3>
          </li>
          <li class="logo-box">
            <div class="logo logo-mobile" />
            <h3>Mobile App /<br>Cross-Platform</h3>
          </li>
          <li class="logo-box">
            <div class="logo logo-iot" />
            <h3>IoT</h3>
          </li>
          <li class="logo-box">
            <div class="logo logo-net" />
            <h3>5G / 6G</h3>
          </li>
          <li class="logo-box">
            <div class="logo logo-cloud" />
            <h3>Cloud</h3>
          </li>
          <li class="logo-box">
            <div class="logo logo-uiux" />
            <h3>UI / UX</h3>
          </li>
          <li class="logo-box">
            <div class="logo logo-dev" />
            <h3>Agile / DevOps</h3>
          </li>
          <li class="logo-box">
            <div class="logo logo-genius" />
            <h3>Startup / Business<br>Thinking</h3>
          </li>
          <li class="logo-box">
            <div class="logo logo-version" />
            <h3>符合主題，不限<br>任何軟韌體技術</h3>
          </li>
        </ul>
      </div>
    </section>
    <section class="merit contain">
      <div class="merit-wrap">
        <h3 class="title">
          {議程活動簡介}
        </h3>
        <div class="merit-box">
          <ul class="merit-content">
            <li><b>Keynote 主題演講：</b>45 分鐘 ，大會重點演講</li>
            <li><b>Speech 專題演講：</b>40 分鐘，需符合上述議題。</li>
            <li><b>Unconference 交流演講：</b>30 分鐘，主題不限暢談想法，投稿落選優先報名。</li>
          </ul>
        </div>
      </div>
      <div class="merit-wrap">
        <h3 class="title">
          {講者權益}
        </h3>
        <div class="merit-box">
          <p><b>Keynote</b> 主題和 <b>Speach</b> 專題演講講者將獲得：</p>
          <ul class="merit-content">
            <li>講師費 6000 元（含國內交通補貼）</li>
            <li>大會門票（可參與所有議程、周邊活動、晚宴）</li>
            <li>使用講者專屬休息室</li>
            <li>講者紀念品</li>
          </ul>
        </div>
      </div>
    </section>
    <section class="date">
      <div class="contain">
        <h2 class="title">
          {投稿重要時程}
        </h2>
        <ul class="date-line">
          <li>2020 年 6 月 1 日</li>
          <li>2020 年 7 月 15 日</li>
          <li>2020 年 8 月中旬</li>
        </ul>
        <ul class="date-logo-wrap">
          <li>
            <div class="logo logo-submit" />
            <p>開始投稿</p>
          </li>
          <li>
            <div class="logo logo-dateline" />
            <p>結束投稿</p>
          </li>
          <li>
            <div class="logo logo-notify" />
            <p>審核結果通知</p>
          </li>
        </ul>
        <button
          @click="submit"
        >
          現在就投稿吧!
        </button>
      </div>
    </section>
    <section class="notice contain">
      <h2 class="title">
        {須知項目}
      </h2>
      <div>
        <h3>公開資訊須知</h3>
        <ul>
          <li>獲選後將與您收集可公開之個人資訊，包含姓名、暱稱、照片、所屬單位、職稱、個人介紹、社群連結等，主要做為宣傳使用，若有特殊需求可保留或與議程組志工特別告知。個人聯絡資訊僅用於內部紀錄、聯繫之用。</li>
          <li>為促進知識分享交流，與您聯繫階段會先預設志工於演講時可進行錄影、剪輯並上傳至公開的影音平台，不排除實況轉播議程之可能。若因商業機密性或特殊需求，請於獲選後填寫講者資料時，勾選「取消錄影」的選項，亦可向議程組志工特別告知。</li>
        </ul>
      </div>
      <div>
        <h3>活動守則</h3>
        <p>MOPCON 秉持開放分享交流理念，歡迎不同文化背景參與者，請尊重並友善對待他人，共同創造安全舒適的環境，若有以下行為，大會有權進行隔離，若有爭議由 MOPCON 總召裁決：</p>
        <ul>
          <li>未依防疫措施規定配合者（大會依屆時法規執行）。</li>
          <li>近期有國外旅遊史或接觸史，進而身體不適、體溫過熱未適時通報者。</li>
          <li>以言論或行為騷擾、歧視造成他人不適者。</li>
        </ul>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'CfP',
  data () {
    return {
    }
  },
  methods: {
    submit () {
      window.open('https://mopcon.kktix.cc/events/mopcon2020-cfp', '_blank')
    }
  }
}
</script>

<style lang="scss" scoped>
.title {
  letter-spacing: 1px;
  @apply text-xl mb-4 text-teal-main font-semibold;
}
.contain {
  max-width: 1440px;
  @apply mx-auto px-6 overflow-x-hidden;
}
@screen md {
  .title {
    letter-spacing: 2px;
    @apply text-4xl;
  }
  .contain {
    @apply px-16;
  }
}
.about {
  @apply bg-black-main text-white relative;
  .contain {
    @apply pt-12 pb-16 flex items-center;
  }
  .text-wrap {
    width: 100%;
    letter-spacing: 1px;
  }
  span {
    @apply text-teal-main;
  }
  .title {
    margin-bottom: 9rem;
    @apply text-white;
  }
  .logo {
    width: 106px;
    height: 106px;
    top: 96px;
    @apply absolute inset-x-0 mx-auto;
  }
  @screen md {
    .text-wrap {
      width: calc(100% - 183px);
      @apply text-lg mr-5;
    }
    .title {
      @apply mb-8;
    }
    .logo {
      width: 183px;
      height: 183px;
      @apply static;
    }
  }
}
.gain {
  @apply pt-6 pb-6;
  &-contain {
    @apply flex flex-col items-center justify-between mt-6;
  }
  &-box {
    max-width: 410px;
    width: 100%;
    height: auto;
    background: #e4e4e4;
    @apply rounded-lg flex flex-col items-center px-6 pt-5 pb-5 mb-4;
    .logo {
      width: 72px;
      height: 72px;
    }
  }
  p {
    letter-spacing: 1px;
    height: calc(100% - 140px);
    @apply mt-5 text-black-main overflow-y-auto;
  }
  .title span {
    @apply inline-block;
  }
  @screen md {
    @apply pt-12 pb-24;
    &-contain {
      @apply flex-row mt-12;
    }
    &-box {
      width: 30%;
      height: 400px;
      @apply mb-0 px-10 pt-10;
      .logo {
        width: 114px;
        height: 114px;
      }
    }
    p {
      @apply mt-10 text-lg;
    }
    .title span {
      @apply inline;
    }
  }
}
.topic {
  @apply bg-black-main text-teal-main;
  .title {
    @apply text-white;
  }
  .contain {
    @apply pt-8 pb-12;
  }
  .text-wrap {
    @apply text-white;
    p {
      @apply mt-4;
    }
  }
  .logo-lg-wrap {
    @apply flex flex-col items-center justify-around mt-6;
    .logo {
      width: 97px;
      height: 97px;
    }
  }
  .logo-box {
    @apply flex flex-col items-center;
  }
  h3 {
    @apply mt-2 mb-5 text-center;
  }
  .logo-sm-wrap {
    @apply grid-cols-2 grid grid-flow-row col-gap-6 row-gap-4;
    .logo {
      width: 75px;
      height: 75px;
    }
  }
  hr {
    border-top: 1px solid #e4e4e4;
    @apply mx-auto w-20 mb-8 mt-3;
  }
  @screen md {
    .contain {
      @apply py-16;
    }
    .text.wrap p {
      @apply text-lg mt-8;
    }
    .logo-lg-wrap {
      @apply flex-row mt-16;
      .logo {
        width: 194px;
        height: 194px;
      }
      h3 {
        @apply text-xl;
      }
    }
    h3 {
      @apply mt-5 text-lg mb-0;
    }
    .logo-sm-wrap {
      @apply grid-cols-5 col-gap-4 row-gap-12;
      .logo {
        width: 118px;
        height: 118px;
      }
    }
    hr {
      @apply my-8;
    }
  }
}
.merit {
  @apply pt-6 pb-4 flex flex-col justify-center items-center w-full;
  &-wrap {
    width: 100%;
    @apply flex flex-col items-start w-full mb-6;
  }
  &-box {
    width: 100%;
    background: #e4e4e4;
    border-radius: 10px;
    @apply border-4 border-teal-main flex flex-col justify-center pl-8 pr-3 pt-3 pb-4;
  }
  li {
    letter-spacing: 0.5px;
    @apply list-disc list-outside text-black-main;
  }
  p {
    letter-spacing: 1px;
    @apply mb-4 text-black-main -ml-4;
  }
  @screen md {
    @apply flex-row pt-16 pb-24;
    &-wrap {
      width: 50%;
      @apply items-center mb-0;
      &:first-child {
        @apply mr-8;
      }
    }
    &-box {
      height: 286px;
      @apply rounded pt-0 pl-10 pr-6;
    }
    li {
      letter-spacing: 1px;
      @apply text-lg leading-7;
    }
    p {
      letter-spacing: 2px;
      @apply leading-8 text-lg -mt-4;
    }
  }
}
.date {
  letter-spacing: 1.5px;
  @apply bg-black-main text-white text-center;
  .title {
    @apply text-white text-left;
  }
  .contain {
    @apply pt-8 pb-10 relative;
  }
  ul {
    @apply flex flex-col justify-between;
  }
  li {
    padding: 8rem 0;
    @apply relative flex flex-col items-center justify-center;
    &:first-child, &:last-child {
      padding: 0;
    }
  }
  &-line {
    transform: translateX(20%);
    @apply border-l border-teal-main items-start pl-6;
    li {
      &:first-child {
        transform: translateY(-5px);
      }
      &:last-child {
        transform: translateY(5px);
      }
      &::before {
        content: '';
        position: absolute;
        left: -2rem;
        @apply w-4 h-4 rounded-full bg-teal-main inset-y-0 my-auto;
      }
    }
  }
  &-logo-wrap {
    top: 4.25rem;
    left: 0;
    @apply mt-12 items-center absolute w-full flex flex-col justify-between;
    li {
      padding: 4rem 0;
      &:first-child, &:last-child {
        padding: 0;
      }
    }
    .logo {
      width: 69px;
      height: 69px;
    }
  }
  button {
    width: 100%;
    letter-spacing: 1.5px;
    border: solid 1px #979797;
    margin-top: 9rem;
    @apply bg-teal-main text-black-main text-lg font-medium py-2 rounded-lg;
    &:hover{
      box-shadow: 0 0 10px 0 #287c87;
    }
  }
  @screen md {
    .title {
      @apply text-center;
    }
    .contain {
      @apply pt-12 pb-24;
    }
    ul {
      width: 80%;
      @apply flex-row mx-auto;
    }
    li {
      @apply text-xl py-0;
      &:first-child {
        transform: translateX(-50%);
      }
      &:last-child {
        transform: translateX(50%);
      }
    }
    &-line {
      transform: unset;
      @apply border-b border-l-0 border-teal-main mt-12 pb-10 pl-0;
      li {
        @apply h-auto border-none;
      }
      li::before {
        bottom: -7rem;
        width: 30px;
        height: 30px;
        @apply inset-x-0 mx-auto;
      }
    }
    &-logo-wrap {
      @apply items-start static;
      .logo {
        width: 125px;
        height: 125px;
        @apply mb-4;
      }
    }
    button {
      width: 60%;
      @apply py-4 text-2xl mt-20;
    }
  }
}
.notice {
  letter-spacing: 1px;
  &.contain {
    @apply pt-5 pb-8;
  }
  h3 {
    letter-spacing: 1.5px;
    @apply font-medium text-xl my-4;
  }
  li {
    @apply list-disc list-outside ml-5 mb-3;
  }
  p {
    @apply mb-2;
  }
  @screen md {
    &.contain {
      @apply pt-16 pb-24;
    }
    h3 {
      @apply font-bold text-2xl my-6 mb-2;
    }
    li, p {
      @apply text-lg;
    }
    li {
      @apply mb-0;
    }
  }
}
</style>
